__pycache__/
__pypackages__/
.vscode/
.idea/
data/
build
venv
.venv
.pdm-python
.pdm-python
.pdm.toml
pdm.lock
uv.lock

.env
logs
bot.py
qrcode.png
config.yaml

cookies.json

offline_send_email.py
nonebot2-local-store.lnk
